/* Container styles */
.file-explorer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 13.5rem;
    background-color: var(--tabFiles-blue);
    color: white;
    transform: translateX(-100%);
    /*transition: transform 0.3s ease-in-out;*/
    border-right: 1px solid var(--font-darkerLightBlue);
    font-family: 'Inter', sans-serif;
    color: var(--font-darkerLightBlue);
    user-select: none;
  }
  
  .file-explorer.visible {
    transform: translateX(0);
    position: relative;
  }
  
  .file-explorer-header, .files-menu-container, .files-menu-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Header styles */
  .file-explorer-header {
    height: 1rem;
    background-color: var(--sideBar-blue);
    border-bottom: 1px solid var(--table-darkBlueLine);
    font-weight: lighter;
    justify-content: space-between;
    padding: 0.35rem 1rem;
    cursor: default;
  }

  .file-explorer-header p {
    font-size: 0.65rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }

  .files-menu-container{
    justify-content: space-between;
    height: 1rem;
    font-weight: normal;
    font-size: 0.85em;
    padding: 0.75rem 0.5rem 0.2rem 1rem;
    cursor: default;
  }

  .files-menu-btns-container{
    justify-content: space-around;
    height: 100%;
    width: 6.5rem;
  }
  .files-menu-btns-container img{
    height: 1rem;
    width: auto;
    cursor: pointer;
  }

  .files-menu-btns-container img:hover{
    filter: brightness(1000%) contrast(1000%);
    transition: filter 0.3s ease;
  }
  
  
  /* Content styles */
  
  .file-explorer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .file-explorer-content li {
    display: flex;
    align-items: center;
    padding: 0.2rem 0rem 0.2rem 0.75rem;
    font-size: .85rem;
    cursor: pointer;
  }
  .file-explorer-content li:hover{
    background-color: var(--sideBar-blue);
    color: var(--font-mediumLightBlue);
  }
  
  .file-explorer-content li:hover{
    background-color: var(--sideBar-blue);
    color: var(--font-mediumLightBlue);
  }

  .file-explorer-content svg {
    margin-right: 0.5rem;
  }

  .CStar-file-icon {
    width: 0.85rem;
    height:  0.85rem;
    margin-right: 0.5rem;
  }
  

  .file-name {
    width: 7rem; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: inline-block;
  }
  
  .file-actions {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    width: 2rem;
    gap: 0.4rem;
    margin-right: 1rem;
  }

  .file-actions svg {
    margin-right: 0rem;
  }
  
  .file-action-icon {
    cursor: pointer;
    font-size: 0.85rem;
    color: var(--font-darkBlue); 
    transition: color 0.1s;
  }
  
  .file-action-icon:hover {
    color: var(--font-mediumLightBlue);  /* Highlight color on hover */
  }
  
  
  #explorer-collapse-btn:hover{
    cursor: pointer;
    color: var(--font-mediumLightBlue);
  }