.header{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--header-blue);
    /*background: linear-gradient(to right, var(--header-blue), var(--sideBar-blue));*/
    height: 2.25rem;
    width: 100%;
    border-bottom: 1px solid var(--table-darkBlueLine);
    user-select: none;
}

.header-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-item{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: .5rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    color: var(--font-darkerLightBlue);
}
.header-item p{
    cursor: pointer;
    transition: 0.2s ease;
}

.header-item p:hover{
    color: var(--font-lightBlue);
}

.header-btns{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
    
}

.img-btn-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0rem .8rem;
    border-radius: 0.5rem;
}

.img-btn-wrapper:hover{
    transition: 0.2s ease-out;
    background-color: var(--table-darkBlueLine);
}

.img-btn-wrapper:hover img{
    filter: brightness(0) invert(1);
}

.img-btn-wrapper img{
    width: .9rem;
    height: .9rem;
    cursor: pointer;
    transition: 0.2s ease;
}