:root {
  --terminal-blue: #0D1329;
  --sideBar-blue: #13182D;
  --header-blue: #0D1222;
  --tabFiles-blue: #0D1329;
  --body-blue: #181F39;
  --font-darkerLightBlue: #626D9E;
  --font-lightBlue: #D0DBFE;
  --font-mediumLightBlue: #91a4e3;
  --table-darkBlueLine: #162643;
  --gradient-start: #ffffff;
  --gradient-end: #07306A;
  --outline-lightBlue: #5F70A9;
  --sidebar-width: 3.3rem;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sideBar-blue);
  /*background: linear-gradient(to right, var(--body-blue), var(--sideBar-blue));*/
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  z-index: 1;
}

.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
  z-index: 1;
}

.sidebar-logo {
    cursor: pointer;
    height: 50px;
    padding: 1rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-blue);
    cursor: default;
  }

.sidebar-logo img{
    width: 1.8rem;
    height: 1.8rem;
}

.sidebar-item {
  cursor: pointer;
  width: var(--sidebar-width);
  height: 1.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item:hover {
  background-color: var(--header-blue);
}

.sidebar-item img{
  width: 1.2rem;
  height: 1.2rem;
}
