:root {
  --sideBar-blue: #13182D;
  --header-blue: #0D1222;
  --body-blue: #181F39;
  --gradient-start: #ffffff;
  --gradient-end: #07306A;
  --sidebar-width: 55px;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sideBar-blue);
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
  z-index: 1;
}

.sidebar-logo {
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-blue);
  }

.sidebar-logo img{
    width: 30px;
    height: 30px;
}

.sidebar-item {
  cursor: pointer;
  width: 100%;
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item:hover {
  background-color: var(--header-blue);
}

.sidebar-item img{
  width: 18px;
  height: 18px;
}
