@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.terminal {
    width: 100%;
    height: 16rem;
    background-color: var(--terminal-blue);
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    z-index: 200;
}

/* Gradient border only at the top */
.terminal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    z-index: 1;
}

.tab-containers {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--sideBar-blue);
}

/* Gradient border only at the bottom for filler */

.tab-filler {
    width: 100%;
    height: 100%;
    position: relative; 
}

.tab-filler::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 1px; 
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    z-index: 1; 
}


/* Tab items with white border only on the right */
.tab-item {
    background-color: var(--terminal-blue);
    width: 10rem;
    height: 100%;
    position: relative;
    display: flex;
    justify-content:left;
    align-items:center;
    padding-left: .8rem;
    font-size: .85rem;
    font-family: 'Inter', sans-serif;
    color: var(--font-darkerLightBlue);
}

.tab-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: .5px; 
    background: white;
    z-index: 1;
}

.tab-item p {
    padding-top: 0.35rem;
}

.terminal-body {
    width: 100%;
    height: 100%; 
}

.table-container {
    width: 100%;
    height: 245px;
    overflow-y: auto;
    font-family: 'JetBrains Mono', monospace;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(77, 145, 208, 0.5) transparent; /* Firefox */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.table-container::-webkit-scrollbar {
    width: 8px;  /* scrollbar Width */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(77, 145, 208, 0.5);  /* Grey, transparent scrollbar thumb */
    border-radius: 10px;  
}

.table-container::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for the scrollbar track */
}


table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: .9rem;
    font-size: 0.8rem;
    color: #c8cfed;
    border-bottom: 1px solid var(--table-darkBlueLine);
    white-space: pre-line;
    line-height: 1rem;
}

tr:hover {
    background-color: var(--body-blue);
}
